#inicio .carousel-inner img {
    
    object-fit: fill;
    min-height: 90vh;


    max-height: 90vh;
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}
#nosotros {
    background-color: #ebff49;
    color: #622fca;
}
#nosotros img {
    max-width: 100%;
}
#nosotros p{
    font-size: 1,5vw;
}

#footer {
    background: #622fca;
    color: white;
}
.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#835fce;
    font-size: 4vw;
}
.titulo-mediano {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
}

.navbar {
    background-color: #622fca !important;
}
.navbar .navbar-brand {
    font-family: 'Atma', cursive !important;
    color: #01ffff !important;
    font-size: 24px;
}
.overlay .container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-title{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}
.btn-contacto {
    background-color: #622fca;
    color: #01ffff;
    width: 140px;
}
.btn-contacto:hover{
    background-color: #835fce;
}

.btn-iniciar {
    background-color: transparent;
    color: #622fca;
    border: 2px solid #622fca;
    width: 140px;   
}
.btn-iniciar:hover {
    background-color: #835fce;
    color: #01ffff;
    border: 2px solid #622fca;
}
.negritas {
    color: #01ffff;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }